.buttonContainer {
    width: 100%;
    /* background-color: #1646AD;
    color: #FFF;
    padding: 0 45 px;
    border: 2px solid #FFF;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2px;
    cursor: pointer;
    transition: .4s; */
}

button{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #FFF;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(17, 179, 53, 0,9940709560191264) 0%, rgba(19, 215, 2, 1) 100%);
    color: #FFF;
    /* background-color: #1646AD; */
}